$acer-100: #f1fcda;
$acer-200: #e0f9b7;
$acer-300: #c5ec8f;
$acer-400: #a8db6f;
$acer-500: #80c343;
$acer-600: #63a730;
$acer-700: #498c21;
$acer-800: #327115;
$acer-900: #225d0c;

$green-100: #f3fde0;
$green-200: #e5fcc1;
$green-300: #d0f6a0;
$green-400: #baed86;
$green-500: #9ae25f;
$green-600: #76c245;
$green-700: #57a22f;
$green-800: #3b831e;
$green-900: #459701;

$blue-500: #00a3ff;
$blue-700: #005a8c;

$yellow-100: #fff9cc;
$yellow-200: #fff099;
$yellow-300: #ffe666;
$yellow-400: #ffdc3f;
$yellow-500: #ffcc00;
$yellow-600: #dbaa00;
$yellow-700: #b78b00;
$yellow-800: #f0b00a;
$yellow-900: #936d00;

$red-100: #fee4d6;
$red-200: #fdc2ad;
$red-300: #f99884;
$red-400: #f37064;
$red-500: #ec3333;
$red-600: #ca2533;
$red-700: #a91932;
$red-800: #88102f;
$red-900: #990000;

$dark-100: #a3a6a3;
$dark-200: #89898B;
$dark-300: #757a76;
$dark-400: #656769;
$dark-500: #474d48;
$dark-700: #19211a;
$dark-900: #000000;

$gray-100: #ffffff;
$gray-200: #fbfbfb;
$gray-300: #f8f8f8;
$gray-500: #f3f4f3;
$gray-700: #e8e9e9;
$gray-800: #d1d3d1;
$gray-900: #cccccc;

$sm-screen: 640px;
$md-screen: 768px;
$lg-screen: 1024px;
